<div class='my_box'>
  <img src="styles/library/flat/images/demo/browser-author.jpg" alt="">  
  <div>{{username}}</div>
</div>
<h3 class='h'>MY</h3>
<div class='list_boxs'>
	<div class='box' ng-repeat='code in mycodes'>
		<iframe ng-src="{{code.i_url}}" frameborder="0" id='{{code._id}}' class="hide"></iframe>
		<div class='mask'>
			<div class='intro'>
				{{code.owner}}
			</div>
			<div class="btn-toolbar">
                <div class="btn-group">
                  <a class="btn" ng-href="{{code.c_url}}"><span class="fui-eye"></span></a>
                  <!-- <a class="btn" ><span class="fui-chat"></span></a> -->
                  <a class="btn" ng-if ='code.islike'><span class="fui-heart red"></span><span class='red'>{{code.like}}</span></a>
                  <a class="btn" ng-click="like(code._id,'my')" ng-if ='!code.islike'><span class="fui-heart"></span><span>{{code.like}}</span></a>

                  <a class="btn red" ng-if='code.isfork||code.isowner'><span class="fui-plus red"></span><span class='red'>{{code.fork}}</span></a>
                  <a class="btn" ng-click="fork(code._id,'my')" ng-if='!code.isfork&&!code.isowner'><span class="fui-plus"></span><span>{{code.fork}}</span></a>
                </div>
              </div>
		</div>
	</div>
</div>

<h3 class='h'>FORK</h3>

<div class='list_boxs'>
  <div class='box' ng-repeat='code in forkcodes'>
    <iframe ng-src="{{code.i_url}}" frameborder="0" id='{{code._id}}' class="hide"></iframe>
    <div class='mask'>
      <div class='intro'>
        {{code.owner}}
      </div>
      <div class="btn-toolbar">
                <div class="btn-group">
                  <a class="btn" ng-href="{{code.c_url}}"><span class="fui-eye"></span></a>
                  <a class="btn" ><span class="fui-chat"></span></a>
                  <a class="btn" ng-if ='code.islike'><span class="fui-heart red"></span><span class='red'>{{code.like}}</span></a>
                  <a class="btn" ng-click="like(code._id,'fork')" ng-if ='!code.islike'><span class="fui-heart"></span><span>{{code.like}}</span></a>

                  <a class="btn red" ng-if='code.isfork||code.isowner'><span class="fui-plus red"></span><span class='red'>{{code.fork}}</span></a>
                  <a class="btn" ng-click="fork(code._id,'fork')" ng-if='!code.isfork&&!code.isowner'><span class="fui-plus"></span><span>{{code.fork}}</span></a>
                </div>
              </div>
    </div>
  </div>
</div>